<%- include("header") -%> 

<h2>About us</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique, at libero. Nihil at dolore amet aliquid distinctio ad quibusdam architecto? Accusantium molestiae omnis cupiditate. Iste aperiam perferendis repudiandae quasi. Excepturi!</p> 

<%- include("footer") -%>  